<meta charset="UTF-8">
<title>Amazing Travel</title>

<link rel="stylesheet" href="css/style.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<!--Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<link href="bower_components/angularjs-datepicker/src/css/angular-datepicker.css" rel="stylesheet" type="text/css" />
<!--  -->
<link rel="shortcut icon" href="images/icons/favicon.ico">
<link rel="apple-touch-icon" href="images/icons/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="images/icons/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="images/icons/apple-touch-icon-114x114.png">

<link rel="stylesheet" href="css/owl.theme.css">
<link rel="stylesheet" href="css/owl.carousel.css">
<link rel="stylesheet" href="css/jquery.vegas.min.css">
<link rel="stylesheet" href="assets/icon-fonts/styles.css">
<link rel="stylesheet" href="css/pixeden-icons.css">

<!-- CUSTOM STYLES -->
<link rel="stylesheet" href="css/styles.css">
<link rel="stylesheet" href="css/responsive.css">

<!-- WEBFONT -->
<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,400italic|Montserrat:700,400|Homemade+Apple' rel='stylesheet' type='text/css'>


<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="https://code.angularjs.org/1.3.0/angular-resource.js"></script>
<script src="bower_components/angularjs-datepicker/src/js/angular-datepicker.js"></script>

<script src="js/angular/app.js"></script>

<!-- controllers -->
<script src="js/angular/controllers/attraction_controller.js"></script>
<script src="js/angular/controllers/booking_controller.js"></script>
<script src="js/angular/controllers/checkout_controller.js"></script>
<script src="js/angular/controllers/signin_controller.js"></script>
<script src="js/angular/controllers/signup_controller.js"></script>
<script src="js/angular/controllers/navbar_controller.js"></script>
<script src="js/angular/controllers/user_controller.js"></script>

<!-- custom directives -->
<script src="js/angular/directives/navbarView.js"></script>
<script src="js/angular/directives/breadcrumbView.js"></script>

<!-- factories -->
<script src="js/angular/factories/currentUser.js"></script>




<!-- <script src="js/jquery.nav.js"></script>
<script src="js/jquery.knob.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/smoothscroll.js"></script>
<script src="js/jquery.vegas.min.js"></script>
<script src="js/zerif.js"></script>

 -->
