<nav-bar></nav-bar>

<ol class="breadcrumb">
  <li><a href="#/">Home</a></li>
  <li><a href="#/attractions">Attractions</a></li>
  <li class="active">Booking - {{ attraction.name }}</li>
</ol>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="row">
          <form name="myBookingForm" ng-submit="addBooking()">
            <h3>{{attraction.name}}, {{attraction.city}}</h3>
            <img class="img-responsive img-thumbnail" ng-src="{{attraction.picture}}">


            <label for="selectAdult">Select adults' quantity:</label>
            <select name="selectAdult" id="selectAdult" ng-model="booking.qnt_adult" ng-change="updateTotal()">
              <option ng-repeat="option in data.availableOptions" value="{{option.id}}">{{option.name}}</option>
            </select>
            <br>

            <label for="selectChild">Select childrens' quantity:</label>
            <select name="selectChild" id="selectChild" ng-model="booking.qnt_child" ng-change="updateTotal()">
              <option ng-repeat="option in data.availableOptions" value="{{option.id}}">{{option.name}}</option>
            </select>
            <br/>
            <datepicker date-format="longDate">
              <input ng-model="booking.date" placeholder="Choose a date"/>
            </datepicker>

            <label>Total price: <span id="price">{{ booking.total_price | currency}} HKD</span></label>
            <br>

            <button class="btn btn-danger" type="submit" ng-disabled="checkParams()">Book</button><br>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

