<div class="row" ng-init="cartBooking()">
<nav-bar></nav-bar>

<ol class="breadcrumb">
  <li>
    <a href="#/">Home</a>
  </li>
  <li>
    <a href="#/attractions">Attractions</a>
  </li>
  <li class="active">
    Booking {{ booking._id }}
  </li>
</ol>


<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h3>Booking cart</h3>
    <div class="col-sm-6 col-md-6 col-lg-6">
        <p>You choosed attraction:</p>
        <p>{{ }}</p>
        <p>{{ booking._id }}</p>

        <p>Date:</p>
        {{booking.date | date:'yyyy-MM-dd'}}

        <p>Quantity adults tickets:</p>
          {{booking.qnt_adult}}

        <p>Quantity childs tickets:</p>
          {{booking.qnt_adult}}

        <div ng-init="getOne()">
        <p>Total price for payment, HKD:</p>
         {{ total_price | currency}}
         {{ attraction._id }}
         </div>


        <br>
        <label>Please proceed for payment</label>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="BVB827HR4HK6S">
        <input type="image" src="https://www.paypalobjects.com/en_GB/HK/i/btn/btn_buynowCC_LG_wCUP.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
        </form>


      </div>
    </div>

  </div>
</div>
