<nav-bar></nav-bar>

<ol class="breadcrumb">
  <li>
    <a href="#/">Home</a>
  </li>
  <li>
    <a href="#/attractions">Attractions</a>
  </li>
  <li class="active">
    Booking - {{ attraction.name}}
  </li>
</ol>

<div class="row" ng-init="getOne()">
  <div class="col-sm-6 col-md-6 col-lg-6">

    <form name="userForm" ng-submit="submitForm()">
      <h3>{{attraction.name}}, {{attraction.city}}</h3>
      <img class="img-responsive img-thumbnail" ng-src="{{attraction.picture}}">

      <label>Quantity adults' tickets:</label>
        <select ng-model="booking.qnt_adult">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
        </select><br>

      <label>Quantity childs' tickets:</label>
        <select ng-model="booking.qnt_child">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
        </select><br>

      <label>Total price:
        <span id="price">
          {{ booking.total_price }}
        </span>
      </label>

      <br>
      <button type="submit" class="btn btn-danger">Book</button>

    </form>
  </div>
</div>
