<nav-bar></nav-bar>

<ol class="breadcrumb">
  <li><a href="#/">Home</a></li>
  <li><a href="#/attractions">Attractions</a></li>
  <li class="active">Booking - {{ attraction.name }}</li>
</ol>

<div class="container-fluid" align="center">
  <div class="row">
    <div class="col-sm-12">
      <h3>Booking cart</h3>
      <div class="col-sm-6 col-md-6 col-lg-6">
        <p>You choosed attraction: <span>{{ attraction.name }}</span></p>

        <p>Date: <span>{{booking.date | date:'yyyy-MM-dd'}}</span></p>

        <p>Quantity adults tickets: <span>{{booking.qnt_adult}}</span></p>

        <p>Quantity childs tickets: <span>{{booking.qnt_adult}}</span></p>

        <p>Total price for payment, HKD: <span>{{ booking.total_price | currency}}</span></p>

        <br>
        <label>Please proceed for payment</label>

        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd"               value="_s-xclick">
          <input type="hidden" name="business"          value="travelaasia@dgmail.com">
          <input type="hidden" name="amount"            value="100.00">

          <!-- <input type="hidden" name="item_name"         value="{{ attraction.name }}"> -->
          <!-- <input type="hidden" name="item_price"        value="{{ booking.total_price }}"> -->
          <!-- <input type="hidden" name="quantity"          value="55"> -->
          <input type="hidden" name="currency_code"     value="HKD">
          <!-- <input type="hidden" name="item_number"       value="{{ booking.qnt_adult }}"> -->
          <input type="hidden" name="hosted_button_id" value="5FHQJ689DKX92">
          <input type="image" src="https://www.paypalobjects.com/en_GB/HK/i/btn/btn_buynowCC_LG_wCUP.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
          <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
        </form>

        <form action="" method="POST">
          <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_c8ozybUwnHqf13b6VyMILkkq"
            data-amount="{{ booking.total_price * 100 }}"
            data-name="Amazing Travel"
            data-description="{{ attraction.name }} ($20.00)"
            data-image="/128x128.png"
            data-locale="auto">
          </script>
        </form>

      </div>
    </div>
  </div>
</div>

<!-- n="DesignerFotos_BuyNow_WPS_US" -->

<!-- <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_cart">
<input type="hidden" name="business" value="seller@designerfotos.com">
<input type="hidden" name="item_name" value="hat">
<input type="hidden" name="item_number" value="123">
<input type="hidden" name="amount" value="15.00">
<input type="hidden" name="first_name" value="John">
<input type="hidden" name="last_name" value="Doe">
<input type="hidden" name="address1" value="9 Elm Street">
<input type="hidden" name="address2" value="Apt 5">
<input type="hidden" name="city" value="Berwyn">
<input type="hidden" name="state" value="PA">
<input type="hidden" name="zip" value="19312">
<input type="hidden" name="night_phone_a" value="610">
<input type="hidden" name="night_phone_b" value="555">
<input type="hidden" name="night_phone_c" value="1234">
<input type="hidden" name="email" value="jdoe@zyzzyu.com">
<input type="image" name="submit" border="0"
src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif"
alt="PayPal - The safer, easier way to pay online">
</form> -->


